.center-img {
  margin: 0 auto;
  display: block;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
}


/*=== header style*/
.header {
  padding: 12px 84px;
  background: #080808;
  color: #bbbbbb;

  h3 {
    margin: 0;
    padding: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #bbbbbb;
  }

  span {
    display: block;
  }

  #category small,
  #site-meta small {
    margin-left: 5px;
  }

  #icon {
    display: none;
  }
}

#logo {
  float: left;
}

#top-nav {
  float: right;
  text-align: right;
}

@media screen and (max-width:800px) {
  .header {
    padding: 8px 12px;

    #icon {
      display: inline-block;
      font-size: 28px;
    }

    #site-meta {
      display: none;
    }

    #category {
      display: none;
    }
  }
}

/*=== end header style*/

@media screen and (max-width:800px) {
  .responsive {
    font-size: 1.2em;
    /* XSIZE */
    padding-bottom: 8px;

    #category {
      display: block;

      small {
        display: block;
        padding: 0;
        margin: 2px 0;
      }
    }
  }
}

/*//=== main Content*/
.main-content {
  margin: 0 auto;
  padding: 48px 84px;
}

@media screen and (max-width: 800px) {
  .main-content {
    margin: 0 auto;
    padding: 24px 12px;
    font-size: 1.2em;
    /* XSIZE */
  }
}


/*//=== footer style*/
.footer {
  border-top: solid #DFDFDF 1px;
  background: #F5F5F5;
  color: #777777;
  padding: 12px 84px;

  a:hover,
  a:focus {
    text-decoration: none;
  }

  h3 {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    text-align: center;
  }
}

/*//=== end footer style*/